@font-face {
  font-family: 'Almarai';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(almarai-300.ttf) format('truetype');
}
@font-face {
  font-family: 'Almarai';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(almarai-400.ttf) format('truetype');
}
@font-face {
  font-family: 'Almarai';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(almarai-700.ttf) format('truetype');
}
@font-face {
  font-family: 'Almarai';
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url(almarai-800.ttf) format('truetype');
}

@font-face {font-family:Inter;font-style:normal;font-weight:100 900;font-display:swap;src:url(inter-variable.ttf) format("truetype")}
